<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://phuocle29012004-001-site1.ltempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>SQL1002.site4now.net</MSDeployServiceURL>
    <DeployIisAppPath>db_ab9b9d_login</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>db_ab9b9d_login_admin</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ThueXeTrucTuyenEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ThueXeTrucTuyen.Models.ThueXeTrucTuyenEntities, ThueXeTrucTuyen" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=&quot;https://win1042.site4now.net:8172/MsDeploy.axd?site=phuocle29012004-001-site1&quot;;User ID=phuocle29012004-001;Password=Saoemradi2901@" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-S71JCNB3\SQLEXPRESS;Initial Catalog=ThueXeTrucTuyen;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=LAPTOP-S71JCNB3\SQLEXPRESS;Database=ThueXeTrucTuyen;Integrated Security=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source="https://win1042.site4now.net:8172/MsDeploy.axd?site=phuocle29012004-001-site1";User ID=phuocle29012004-001;Password=Saoemradi2901@</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ThueXeTrucTuyenEntities-Web.config Connection String" />
  </ItemGroup>
</Project>